@use "mixin/index" as *;
@use "presets/index" as *;

:root {
  font-family: Rubik, sans-serif;
  --transition-speed: 400ms;
  --transition: color var(--transition-speed),
  background calc(var(--transition-speed) * 1.5);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: var(--transition)
}

app-root {
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

a {
  color: var(--text-primary);
  text-decoration: none;
  transition: color var(--transition-speed);
}

a:hover {
  color: var(--ico);
}

.accent {
  color: var(--ico);
  font-weight: bold;
}
