rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {
    match /news/{document=**} {
      allow read, update, delete, create: if request.auth != null
      // &&(request.auth.uid == "sMIHPa5Ep9NZtX9QyOOB4HNr2Gw1")
      ;
      allow read;
      }
    match /config/{document=**} {
    	allow read, update, delete, create: if request.auth != null
      // &&(request.auth.uid == "sMIHPa5Ep9NZtX9QyOOB4HNr2Gw1")
      ;}
  }
}
