<div class="nav-logo">
  <a href="https://logixy.net">
    <i class="fa-solid fa-terminal"></i>Logixy
  </a>
</div>
<div class="nav-main">
  <ul (click)="this.navState.setNavState = false" class="nav-list">
    <li [class]="{'nav-item': true,
    'nav-active': this.navState.currentPath === '/'}">
      <button routerLink="/"><span class="nav-item__ico"><i class="fa-solid fa-chart-line"></i></span><span
        class="nav-item__text">Dashboard</span></button>
    </li>
    <li [class]="{'nav-item': true,
    'nav-active': this.navState.currentPath === '/log'}">
      <button routerLink="/log"><span class="nav-item__ico"><i class="fa-regular fa-calendar-days"></i></span><span
        class="nav-item__text">History</span></button>
    </li>
    <li [class]="{'nav-item': true,
    'nav-active': this.navState.currentPath === '/admin'}">
      <button routerLink="/admin"><span class="nav-item__ico"><i class="fa-solid fa-lock"></i></span><span
        class="nav-item__text">Admin</span></button>
    </li>
  </ul>
  <app-theme-btn></app-theme-btn>
  <div class="social">
    <a class="btn" href="https://discord.gg/CSASRtV"><i class="socialBtn fab fa-discord svg-fa"></i></a>
    <a class="btn" href="https://vk.com/logixy"><i class="socialBtn fab fa-vk svg-fa"></i></a>
    <a class="btn" href="https://twitter.com/_logicworld"><i class="socialBtn fab fa-twitter svg-fa"></i></a>
    <a class="btn" href="https://t.me/logicworld"><i class="socialBtn fab fa-telegram-plane svg-fa"></i></a>
    <a class="btn" href="https://github.com/logixy"><i class="socialBtn fab fa-github svg-fa"></i></a>
  </div>
</div>
<div (click)="this.toggleNavState()" [class]="{'nav-btn': true, 'active': this.navState.isNavActive}">
  <i class="fa-solid fa-angles-right"></i>
</div>

