@use '../../scss/common/presets/variables' as *;

.nav-logo {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  padding: $gap $gap $gap $gap-sm;

  i {
    margin-left: $gap-sm;
  }
}

.nav-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-list {
  padding-inline-start: 0;
}

.nav-item {
  display: block;
  font-size: 1.25em;
  position: relative;


  button {
    transition: var(--transition), padding-left calc(var(--transition-speed) / 2);
    padding: $gap-sm;
    width: 100%;
    display: flex;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: inherit;

    &:hover {
      color: var(--ico);
      background-color: var(--shader-50);
      padding-left: $gap;
    }
  }

  &__ico {
    width: 15%;
  }

  &__text {

  }
}

.social {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  padding: $gap;

  .btn {
    margin: auto;
  }
}

.nav-active {

  button {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding-left: $gap;

    &:hover {
      background-color: var(--bg-secondary);
    }
  }

  &::before {
    content: '';
    width: 5px;
    background-color: var(--ico);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.nav-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: -50px;
  font-size: 1.2rem;
  background-color: var(--shader-90);
  transition: var(--transition),
  border-radius var(--transition-speed),
  right calc(var(--transition-speed) * 1.5) ease-in-out;
  border-radius: 0 0 1.5rem 0;
  display: flex;

  i {
    margin: auto;
    transition: rotate calc(var(--transition-speed) * 1.5) ease-in-out;
  }

  &:hover {
    color: var(--ico);
  }

  &.active {
    right: 0;
    border-radius: 0 0 0 1.5rem;

    i {
      rotate: 180deg;
    }
  }
}

app-theme-btn {
  margin-top: auto;
  margin-bottom: 0;
}



