.dark {
  --text-primary: #e8e8e8;
  --text-secondary: #252525;
  --bg-primary: #23232e;
  --bg-secondary: #c5c5c5;
  --bg-nav: #e8e8e8;
  --ico: #dc143c;
  --shader-90: #141418e6;
  --shader-70: #141418b3;
  --shader-50: #14141880;
  --shader-30: #1414184d;
  --shader-10: #1414181a;
}
