.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-color: var(--text-primary);
}

.head-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 20px;
    width: 100%;
    border-bottom: 0.1rem;
    border-color: var(--text-primary);
    text-transform: uppercase;
    margin-top: 70px;
}

.reloadBtn {
    margin: 1rem;
}
.status-wrapper {
    width: 100%;
    min-height: 100px;
    height: auto;
}
#spiner_container-i,
#spiner_container-g {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    position: absolute;
    right: 0;
    overflow: visible;
    width: 100%;
    transition: opacity 400ms ease-in;
}
.loading_spiner {
    font-size: 65px;
    margin: auto;
}
.status-container {
    width: 90%;
    margin: 1rem auto;
    max-width: 999px;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 242px));
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 800ms ease-in;
}

.status-i,
.status-g {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: var(--bg-secondary);
    border-radius: var(--border-r);
    transition: var(--transition-speed);
}
.status-i:hover,
.status-g:hover {
    background-color: var(--bg-secondary);
}

.status-icon-i,
.status-icon-g {
    font-size: 45px;
    margin: auto;
}
.status-info-i {
    text-align: right;
    width: 100%;
    margin: auto auto auto 0.8rem;
    font-style: italic;
    font-weight: 800;
}

.Online .status-icon-i,
.Online .status-info-i .status-state-i {
    color: #62ba5c;
}
.Offline .status-icon-i,
.Offline .status-info-i .status-state-i {
    color: #a24d4d;
}
#status-summary-g {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    justify-content: space-between;
    grid-column-start: span 4;
    border-radius: var(--border-r);
    background-color: var(--bg-secondary);
}
#qr {
    width: 192px;
}

.summary-container {
    height: 100%;
    margin: auto;
}
#summary-status-container-g {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
#summary-status-g{
    height: 70%;
    margin: auto;
    width: 100%;
}

#summary-status-progressbar-g{
    max-height: 20%;
    height: 100%;
    margin: auto;
}
.summary-status-tr-g{
    margin: auto;
    
}
.summary-status-td-g{
}

@media only screen and (max-width: 1125px) {
    .status-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 49%));
    }
    .status-wrapper {
        min-height: 150px;
    }
    .loading_spiner {
        font-size: 100px;
    }
}
@media only screen and (max-width: 600px) {
    .status-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 100%));
    }
}

@media only screen and (max-width: 385px) {
    .head-text {
        text-align: left;
        width: 85%;
        margin: auto;
    }
}
