#debug_menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: blueviolet;
    color: lime;

}

#debug_menu a{
    color: lime;
    text-decoration: none;
}

.debug #debug_menu{
    display: block;
    z-index: 10;
}