@use '../assets/scss/common/presets' as *;

app-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 280px;
  z-index: 10;
  transition: var(--transition),
  left calc(var(--transition-speed) * 1.5) ease-in-out;
  left: -280px;
}

.app-navbar-active {

  left: 0;
}

main {
  padding-top: $gap-x3;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  transition: filter calc(var(--transition-speed) * 1.5) ease-in-out;

  &.blurred {
    filter: blur(4px);
  }
}



