<div class="placeholder-container">
  <h2 class="placeholder-heading">Under construction</h2>
  <p class="placeholder-body">Page <span class="accent">{{this.currentLocation.currentPath}}</span> under construction.
    You can reach us in social
    networks.</p>
  <p class="social">
    <a class="btn" href="https://discord.gg/CSASRtV"><i class="socialBtn fab fa-discord svg-fa"></i></a>
    <a class="btn" href="https://vk.com/logic_world"><i class="socialBtn fab fa-vk svg-fa"></i></a>
    <a class="btn" href="https://twitter.com/_logicworld"><i class="socialBtn fab fa-twitter svg-fa"></i></a>
    <a class="btn" href="https://t.me/logicworld"><i class="socialBtn fab fa-telegram-plane svg-fa"></i></a>
    <a class="btn" href="https://github.com/LogicWorlds"><i class="socialBtn fab fa-github svg-fa"></i></a>
  </p>
</div>
