.light {
  --text-primary: #050505;
  --text-secondary: #ffffff;
  --bg-primary: #ffffff;
  --bg-secondary: #252525;
  --bg-nav: #e8e8e8;
  --ico: #dc143c;
  --shader-90: #e4e4e4e6;
  --shader-70: #e4e4e4b3;
  --shader-50: #e4e4e480;
  --shader-30: #e4e4e44d;
  --shader-10: #e4e4e41a;
}
